<!-- here we can call @payment_vendor.hop_url(:webmobile) or other specific
  option at view-rendering-time, or let it default to our current config setup, 
  but test/live has already been determined at this point based on test_user_email or test_mode -->
<form  action="<%=@payment_vendor.hop_url%>" method="post" >
  <% @payment_vendor.generate_params.each_pair do |key, value| %>
    <input type="hidden" name="<%=key%>" value="<%=value%>" >
  <%end%>
  <%= submit_tag "Complete Credit Card Payment", :class=>"btn btn-success btn-large" %>
</form>