<form  action="<%=@payment_vendor.hop_url%>" method="post" >
  <% @payment_vendor.generate_params.each_pair do |key, value| %>
    <input type="hidden" name="<%=key%>" value="<%=value%>" >
  <%end%>
  <%= submit_tag "Complete Credit Card Payment", :class=>"btn btn-success btn-large" %>
</form>